@charset "UTF-8";
body
{
  width: 1500px;
  display: inline;
  background-color: #fff;
}

nav
{
  height: 50px;
  width: auto;

  background-color: #0f0f0f;
  text-align: center;
}


nav a
{
  color: #C7F803;
  text-shadow: #000000;
  font-size: 30px;
}


.org_name
{
  color: blue;
  font-weight: bold;
  font-size: 150%;
  text-align: center;
  background-color: #CEF5DE;
}

.logo
{
  margin: x;
  margin-bottom: 0px;
  width: 1295px;

}



article
{
  text-align: center;
  width: auto;
  height: 50px;
  font-size: 25px;
  color: #ffffff;
  background-color: #032D38;
}

section
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #E7F7ED;
  text-align: center;
 }

p {  color: #0000ff;  font-size: 150%; }

main
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 10px;
  width: 900px;
  float: left;
}


aside
{
  margin-top: 27px;
  margin-right: 10px;
  float: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #000000;
  text-align: center;
  width: 300px;
  background-color: #f0f0f0;
}

aside h2
{
  margin-top: 0px;
  color: #ffffff;
  height: 50px;
  background-color: #032D38;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

aside a
{
  color: #0f0f0f;
  font-size: 20px;
  text-decoration: none;
}

aside a:hover
{
  color: #000;
  font-size: 20px;
  text-decoration: underline;
}
.advert
{
  float: left;
  width: 100%;
  height: 230px;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(to right, #2505A5, #8067E5)
}
.advert a{ color: #C7F803; }

.ad_button
{

  margin: auto;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  padding: 5px;
  background-color: #ED1095;

}
.ad_button:hover
{
  background-color: #F776C3;

 }

 footer
 {
   clear: both;
   color: maroon;
   text-align: center;
   font-style: normal;
   font-size: 10px;
 }
 .social_icons
 {
   display: inline;
   margin-top: 20px;
   margin-bottom: 20px;
   border: 10px;
   background-color: #ffffff;
 }

 .social_icons:hover
 {
   border: 15px;
   background-color: aqua;
 }
